<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseURL" value="https://db.netkeiba.com/race/" />
    <add key="outputFileName" value="races.json" />
    <add key="startYear" value="2020" />
    <add key="finishYear" value="2021" />
  </appSettings>
</configuration>